@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

*{
    font-family: "Poppins", sans-serif;
   margin: 0px;
   padding: 0px ;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

.header{
    background: #f0f0f0;
    position: fixed !important;
    z-index: 100;
    width: 100%;
    padding: 10px 150px;
}
.navbar-collapse{
  
    justify-content: flex-end ;
}
.logo{
    color: rgb(54, 67, 74);

    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.7em;
    transition: 0.6s ease;
}

.logo:hover{
    transform: scale(1.05);

}

.navigation a{
    font-size: 1em;
    color: rgb(54, 67, 74);
    font-weight: 620;
    padding-left: 35px;
    transition: 0.6s ease;
    text-align: center;

}

.navigation a:hover{
    color: rgb(0, 0, 0);
    transform: scale(1.1);
}




/* ........................ */


section{
    padding: 100px 150px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(https://raw.githubusercontent.com/MohammadTa01/portfolio/main/images/bgl.jpg) no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;

}

.portfolio{
    font-family: "Playwrite GB S", cursive;
    bottom: 0;
    color: #9e9e9e;
    opacity: 0.18;
    font-size: 5.5em;
}   

.main h2{
    color:#f0f0f0;
    font-size: 1.4em;
    font-weight: 500;
    margin-top: 50px;

}

.main h2 span {
    display: inline-block;
     margin-top : 10px;
     font-size: 2.5em;
     color: rgb(115, 140, 154);
     font-weight: 600;


}

.main h3{
    color: #f0f0f0;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 17px;


}

.main .contact{
margin: 45px 5px;

}
.main .contact h4{
    color: rgb(208, 208, 208);
    font-size: 1.1em;
    padding-bottom: 7px;
    font-weight: 500;
  letter-spacing: 1px;
    
    }
    .main .contact h4 i {
        padding-right:7px ;
        font-size: 1.25em;
    }

.social-icons a{
    color: #f0f0f0;
    font-size: 2em;
    padding-left: 10px;
padding-right: 25px;
transition: 0.7s ease;
}


.social-icons a:hover{
 color: rgb(183, 183, 183);
    transform: scale(1.1);
   text-shadow: 1px ;
}



.title{
    display: flex;
    justify-content: center;
    color: dimgray;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 40px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    background-color:#ffffff;
    width: 95%  ;
    box-shadow: 0px 5px 25px rgba(1 1 1 /20%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;

}

.card:hover{
    transform: scale(1.05);

}

.icon{
    color:#383838;
    font-size: 3em;
    padding: 5px;

}

.info h3{
    color: black;
    font-size: 1.7em;
    font-weight: 700;
   margin: 0px 0px 15px 5px;

}

.info p{
    color: black;
    font-size: 1em;
    font-weight: 600;

}


.info span{
color: rgb(86, 86, 86);
font-weight:500;
}




.btn-modal{
    width: 170px;
    margin-top: 10px ;
    background-color: #292929;
border:  1px solid #2c2c2c;
transition: 0.7s ease;

}

.btn-modal:hover{
  
    background-color: #a1a1a1;
    border:  1px solid #a1a1a1;
    transform: scale(1.05);


}

.div-modal{
    display: flex;
    justify-content: end;
    
}



/* ........................ */

.experience{
    align-items: center;
    background-color: rgb(35, 37, 40);
background-attachment: fixed;
}

.experience .title{
    color: rgb(216, 215, 215);
}


/* ........................ */

.courses .courses-card{
    width: 480px; ;
}


.courses .footer-card span{
    display: inline-block;
}


.courses .footer-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

  
}


.courses  img,.modal-dialog  {
    width: 100%;
}

.courses  .modal{
    --bs-modal-width:57em
}

/* ........................ */

.skills .title{
    color: rgb(216, 215, 215);
}


.skills{
    align-items: center;
    background-color: rgb(35, 37, 40);
background-attachment: fixed;
}


.skills .cards{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}


.skills .card{
    background-color:#ffffff;
    opacity: 0.75;
    width: 300px  ;  /* test for responsive*/
    box-shadow: 0px 5px 25px rgba(1 1 1 /20%);
    border-radius: 10px;
    padding: 25px;
    margin: 10px;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
}
.skills .card:hover{  
    opacity: 1;
}


.skills i{
    font-size:25px;
    padding-bottom:5px ;
}



/* media query */

@media(max-width:1086px){
    .header{
        padding: 10px 90px;
    }
    section{
        padding: 90px 80px;
    }

    .main{
        background-size: auto 100%;
        background-position:65% 12% ;
    }

}

@media(max-width:1024px){
    .header{
        padding: 10px 40px;
    }
    section{
        padding: 80px 50px;
    }
  
    body{
        font-size: 14px;
    }
    p{
        font-size: 16px;
    }
}



@media(max-width:781px){
    .header{
        padding: 10px 20px;
    }
    section{
        padding: 60px 30px;
    }
  
  
    body{
        font-size: 14px;
    }
    p{
        font-size: 16px;
    }
    .skills .card{
      
        width: 250px  ;  /* test for responsive*/
    }
}




@media(max-width:769px){
    body{
        font-size: 13px;
    }
    p{
        font-size: 16px;
    }

    .main{
        
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        background:url(https://raw.githubusercontent.com/MohammadTa01/portfolio/main/images/bgS.jpg) no-repeat;
        background-size: auto 100%;
        background-position:65% 5% ;
    background-attachment: fixed;
    
    }
    .logo{
        font-weight: 700;
        font-size: 1em;
    }
    .header{
        padding: 10px 10px;
    }

    section{
        padding: 60px 15px;
    }   

    .main h2 span {    
         font-size: 2.3em;
    }
    
    .main h3{
        font-size: 1.8em;
    }
 
    
    .skills .card{
      
        width: 230px  ;  /* test for responsive*/
    }


}


@media(max-width:658px){
    .skills .card{
      
    width: 200px  ;  /* test for responsive*/
}}



@media(max-width:568px){
    .skills .card{
      
    width: 160px  ;  /* test for responsive*/
}

.main{
        
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(/https://raw.githubusercontent.com/MohammadTa01/portfolio/main/images/bgXs.jpg) no-repeat;
    background-size: auto 100%;
    background-position:75% 0% ;
background-attachment: fixed;

}

}


@media(max-width:390px){
    
    .skills .card{
      
    width: 150px  ;  /* test for responsive*/
}
}



